[submodule "k8s/helm/secrets-store-csi-driver-provider-gcp"]
	path = k8s/helm/secrets-store-csi-driver-provider-gcp
	url = https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp.git
