apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: falco
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - name: app-0
      - name: app-1
      - name: corp-0
      - name: misc-0
  template:
    metadata:
      name: "{{name}}-falco"
    spec:
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        automated:
          prune: true
          selfHeal: true
      source:
        chart: falco
        repoURL: https://falcosecurity.github.io/charts
        targetRevision: 4.21.3
        helm:
          releaseName: "{{name}}-falco"
          values: |
            driver:
              kind: modern_ebpf
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                cpu: 500m
                memory: 512Mi
            tolerations:
            - effect: NoSchedule
              operator: Exists
            falco:
              json_output: true
            customRules:
              falco_rules.local.yaml: |-
                - macro: user_known_contact_k8s_api_server_activities
                  condition: >
                    proc.name = sdk-server
                    or proc.name = controller
                    or proc.name = allocator
                    or proc.name = extensions
                    or proc.name = argocd
                    or proc.name = argocd-server
                    or proc.name = argocd-image-up
                    or proc.name = argocd-applicat
                    or proc.name = argocd-dex
                    or proc.name = argocd-notifica
                    or proc.name = kube-state-metr
                    or proc.name = gke-mcs-importe
                    or proc.name = prometheus
                    or proc.name = operator
                    or proc.name = event-exporter
                    or proc.name = kube-dns
                    or proc.name = envoy
                    or proc.name = wrk:worker
                    or proc.name = cluster-proport
                    or proc.name = secrets-store-c
                - macro: user_expected_terminal_shell_in_container_conditions
                  condition: >
                    container.image.repository = docker.io/govargo/bpf-tools

            falcosidekick:
              enabled: false

      destination:
        name: "{{name}}"
        namespace: falco
