apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: managed-prometheus
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - name: app-0
      - name: app-1
      - name: corp-0
      - name: misc-0
  template:
    metadata:
      name: "{{name}}-managed-prometheus"
    spec:
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        - RespectIgnoreDifferences=true
        automated:
          prune: true
          selfHeal: true
      source:
        repoURL: https://github.com/GoogleCloudPlatform/prometheus-engine.git
        targetRevision: v0.17.2
        path: manifests
        directory:
          include: '*.yaml'
          exclude: '{rule-evaluator.yaml}'
      ignoreDifferences:
      - group: ""
        kind: ConfigMap
        name: rule-evaluator
        namespace: gmp-system
        jsonPointers:
        - /data
        - /metadata
      - group: "monitoring.googleapis.com"
        kind: OperatorConfig
        name: config
        namespace: gmp-public
        jsonPointers:
        - /collection
        - /features
        - /managedAlertmanager
      - group: ""
        kind: Secret
        name: alertmanager
        namespace: gmp-system
        jsonPointers:
        - /data
        - /metadata/labels
      destination:
        name: "{{name}}"
        namespace: gmp-system
